/* start variables */
/* end variables */

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
    letter-spacing: -.8px;
}

:root {
    --mainPadding: 15px;
    --mainColor: #10cab7;
    --secondary-color:#2c4856;
    --section-padding: 60px;
    --section-background-color: #fafafa;
    --content-margin-top: 60px;
    --grid-column-width: 300px;

    scroll-behavior: smooth;
}

@media (max-width:767px) {
    :root {
        --section-padding: 30px;
    }
}

body {
    font-family: 'Work Sans', sans-serif;
}

.parent {
    background-color: #ccc;
}

.container {
    margin-left:  auto ;
    margin-right:  auto ;
    padding-left: var(--mainPadding) ;
    padding-right: var(--mainPadding) ;
    width: 85%;  /* in small screens only */
}

/* small screen */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

p {
    color: #5a5a5a;
    line-height: 1.8;
    font-weight: 400;
    font-size: 14px;
}

h3 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 800;
}

/* end global rules */

/* start components */
.special-heading {
    font-size: 125px;
    font-weight: 800;
    color: #eee;
    text-align: center;
    letter-spacing: -4.5px;
    margin: 0;
}

.special-heading + p {
    margin: -50px 0 0 0;
    font-size: 20px;
    text-align: center;
}

.special-heading + p::first-letter {
    text-transform: capitalize;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 75px;
    }
    .special-heading + p {
        margin: -30px 0 0 0;
        font-size: 14px;
    }
}
/* end components */

/* start header */
.header {
    padding: var(--mainPadding);
    position: relative;
    min-height: 7vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
width: 30px;
    height: 30px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
*/
.header .container .logo {
    width:60px;
}

.header .container .links {
    position: relative;
}

.header .container .links ul {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #eee;
    z-index: 1;
}

.header .container .links ul::before {
    content: "";
    border: 10px solid;
    border-color:transparent transparent #eee transparent;
    position: absolute;
    left: calc(100% - 25px);
    top: -19px
}

.header .container .links ul li {
    padding: var(--mainPadding);
    transition: .3s;
}

.header .container .links ul li:hover {
    padding-left: 25px;
}

.header .container .links ul :not(:last-child) {
    border-bottom: solid 1px #bbb;
}

.header .container .links ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: var(--mainPadding);
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links .icon {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 7px;
}

.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .container .links .icon span {
    background-color: #333;
    height: 2.5px;
}

.header .container .links .icon span:first-child {
    width: 100%;
}

.header .container .links .icon span:nth-child(2) {
    width: 65%;
    transition: .3s;
}

.header .container .links .icon span:last-child {
    width: 100%;
}
/* end header */

/* start landing */
.landing {
    background-image: url(../imgs/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 93vh;

    display: flex;
    justify-content: center;
}

.landing .intro-text {
    
    text-align: center;
    text-transform: capitalize;
    width: 350px;
    max-width: 100%;
}

.landing h1{
    color: var(--mainColor);
    font-size: 2.5em;
}
.landing p{
    line-height: 1.8;
}
/* end landing */

/* start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(var(--grid-column-width),1fr));
    text-align: center;
}

.features .container .feat {
    padding: calc(3 * var(--mainPadding));
}

.features .container .feat:hover {
    box-shadow: 4px 4px 6px -7px black;
}


.features .container .feat i {
    font-size:50px;
    color: var(--mainColor);
}

.features .container .feat h3 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 800;
}

.features .container .feat p {
    line-height: 1.8;
}
/* end features */

/* start services */
.services {
    min-height: 80vh;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container .content {
    margin-top: var(--content-margin-top);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(var(--grid-column-width),1fr));
    max-width: calc(3 * var(--grid-column-width));
    
}

@media (min-width:768px) and (max-width:991px) {
    .services .container .content {
        max-width: calc(2 * var(--grid-column-width));
    }
}

.services .container .content .srv {
    display: flex;
}

@media (max-width: 767px) {
    .services .container .content .srv {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: var(--mainPadding);
    }
}

.services .container .content .srv .icon{
    padding: var(--mainPadding);
}

.services .container .content .srv .icon i {
    font-size: 30px;
    color: var(--mainColor);
}

.services .container .content .srv .text { 
    flex:1;
}

.services .container .content .srv .text p {
    padding: var(--mainPadding);
    line-height: 1.6;
    margin: 0;
}

.services .container .content .srv .text h3 {
    text-transform: capitalize;
    padding: var(--mainPadding);
    margin: 0;
}

.services .container .content .special-srv { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
}

.services .container .content .image {
    display: inline-flex; /* to not extend ti fit the all col width and to control the bar */
    position: relative;
}

@media (max-width: 991px) {
    .services .container .content .special-srv {
        display: none;
    }
}

.services .container .content .image::after {
    content: "";
    width: 60px;
    height: calc(100% + 80px);
    position: absolute;
    inset: 50% 0 auto auto;
    transform: translate(50%, -50%);
    background-color: var(--secondary-color);
    z-index: -1;
}

.services .container .content .image img {
    width: 240px;
    aspect-ratio: 9 / 11; /* not best to use */
}
/* end services */

/* start porfolio */
.portfolio {
    min-height: 80vh;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.portfolio .container .projects {
    margin-top: var(--content-margin-top);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(var(--grid-column-width),1fr));
    gap: 20px;
}
.portfolio .container .projects .prj { 
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: white;
}

.portfolio .container .projects .prj img { 
    width: 100%;
}

.portfolio .container .projects .prj .text { 
    padding: var(--mainPadding);
} 

.portfolio .container .projects .prj h3 { 
    margin: 0;
    margin-bottom: 20px ;
}
.portfolio .container .projects .prj p { 
    margin: 0;
    
}
/* end porfolio */

/* start about */
.about {
    min-height: 80vh;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-content {
    display: flex;
    margin-top: var(--content-margin-top);
    justify-content: center;
    align-items: center; /* to remove stretch value*/
}

@media (max-width:767px) {
    .about .about-content {
        flex-direction:column;
        text-align: center;
    }
}

.about .about-content .image {
    display: inline-flex;
    position: relative;
    margin-right: 100px;
    z-index: 1;
}

.about .about-content .image::before {
    content: "";
    width: 80px;
    height: calc(100% + 100px);
    background-color: var(--section-background-color);
    
    position: absolute;
    inset: -50px auto auto -10px;
    z-index: -1;
}

/* .about .about-content .image .L {
    position: absolute;
    width: 140px;
    height: 200px;
    
    inset: 0 auto auto 100%;
    transform: translate(-40px , -20px);
    background-color: var(--mainColor);
    z-index: -2;
    
} */

.about .about-content .image::after {
    content: "";
    border-left: #10cab7 solid 60px;
    border-bottom: #10cab7 solid 60px;
    /* width: 140px;
    height: 200px; */
    
    position: absolute;
    inset: 0 auto auto 100%;
    transform: translate(-40px , -20px);
    z-index: -2;
    
}

.about .about-content .image .L::before {
    content: "";
    position: absolute;
    inset: 0 0 auto auto;
    width: 80px;
    height: 150px;
    
    background-color: white;
    z-index: -1;
}

@media (max-width:767px) {
    .about .about-content .image::before,
    .about .about-content .image .L {
        display: none;
    }
    .about .about-content .image { 
        margin: 0 0 30px 0;
    }
}

.about .about-content .info {
    padding: var(--mainPadding);
    flex:1;
    max-width: 600px;
}

.about .about-content .info h3 {
    margin: 0;
}

.about .about-content .info .line {
    height: 2px;
    background-color: var(--mainColor);
    margin: 20px 0;
    width: 50%;
}

@media (max-width:767px) {
    .about .about-content .info .line {
        margin-left:auto ;
        margin-right:auto ;
    }
}

.about .about-content .info p {
    margin: 0;
}

/* end about */

/* start contact */
.contact {
    min-height: 80vh;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}

.contact .container .contact-content {
    margin-top: var(--content-margin-top);
}

@media (max-width:767px) {
    .contact .container .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }    
}

.contact .container .contact-content .label {    
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--secondary-color);
}

@media (max-width:767px) {
    .contact .container .contact-content .label {
        font-size: 1.3rem;
    }
}

.contact .container .contact-content a.email {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--mainColor);
    position: relative;
    z-index: 1;
    margin-left: 40px;

}

@media (max-width:767px) {
    .contact .container .contact-content a.email {
        font-size: 1.2rem;
        margin: 0;
    }
}
.contact .container .contact-content .email::before {
    content: "";
    width: calc(100% + 80px);
    height: 60%;
    background-color: white;
    position: absolute;
    top: 25px;
    left: -40px;
    z-index: -1;
}
@media (max-width:767px) {
    .contact .container .contact-content .email::before {
        top: 10px;
    }
}

.contact .container .contact-content .social {
    font-size: 14px;
    margin-top: 20px;
    color: var(--secondary-color);
    margin-left: 80px;
    
    display: flex;
    justify-content: space-between;
    width: 300px;
}

@media (max-width:767px) {
    .contact .container .contact-content .social {
        width: 220px;
        font-size: 10px;
        margin: 0;
    }
}
.contact .container .contact-content .social i {
    font-size: 18px;
}
/* end contact */

/* start footer */
.footer {
    padding: 30px;
    background-color: var(--secondary-color);
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    color: white;
}   

.footer .container span { 
    color: var(--mainColor);
}
/* end footer */


